.container-xxl{
    background-color: blue;
    height: 142vh;
    background-image: url("./pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;

}

.container-lg{
background-color: white;
height: 87.3%;
display: flex;
}

.container-sm{
height: 110vh;
width: 65%;
}

.container-sm2{
    background-color: red;
    height: 110vh;
    width: 35%;
    }

.header{
        height: 60px;
        width: 630px;
        background-color: white;
        margin-top: 60px;
        margin-left: 40px;
        display: flex;
        justify-content: space-between;
    }

    
   .sub-header{
     width: 300px;
     display: flex;
     height: 60px;
     
    }

    .icon{
        color: rgb(0, 110, 255);
        font-size: 50px;
     }


    .title1,
    .title2{
     padding-top: 20px;
     }

   .title1{
    padding-left: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(2, 2, 80);

   }

   .title2{
    color: rgb(4, 4, 114);
    font-weight: 327;
    display: flex;
    }

    .time{
        display: flex;
        margin-right: 3px;
    
    }

    span{
        margin-top: 19px;
        margin-left: 3px;
    }

    .firstNum,
    .secondNum,
    .fourthNum,
    .fifthNum{
       height: 40px;
       width: 30px;
       background-color: rgb(2, 2, 80);
       color: white;
       border-radius: 10px;
    }

     .num{
        padding-left: 7.5px;
     }

     .paymentCard{
        background-color: white;
        margin-top: 40px;
        width: 630px;
        margin-left: 40px;
        height: 60px;
        display: flex;
        justify-content: space-between;
     }

     .digitHeader{
        color: rgb(2, 2, 80);
        font-weight: 700;
     }

     .digitText{
        font-size: small;
        color: rgb(160, 158, 158);
        font-weight: 600;
     }

    .edit{
        width: 70px;
       display: flex;
       justify-content: space-between;
       padding-top: 12px;
       /* color: rgb(0, 110, 255); */

    }

    .editIcon{
        
        font-size: large;
        padding-top: 8px;
        
    }

    .editText{
        padding-top: 8px;
        color: rgb(0, 110, 255);

    }
